            <div class="form-wrapper">
  <h1 class="title-divider">
    <span>ACT Search
    </span>
    <small>All fields are (not) mandatory
    </small>
  </h1>
  <form role="form" id="JudgementAsearchForm" method="post" action="/cases/router2" name="JudgementAsearchForm">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="ActName">Act Name
          </label>
          <input type="text" class="form-control" name="act_name" id="ActName" value="">
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="ActNo">Act No:
          </label>
          <input name="act_no" type="text" class="form-control" id="ActNo">
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <div class="form-group">
          <label for="ShortTitle">Short Title
          </label>
          <input type="text" class="form-control" id="ShortTitle" name="short_title" value="">
          </span>
        </div>
      </div>
      <div class="col-md-6">
              <div class="form-group">
                  <label for="ActObjective">ACT Objective:
                  </label>
                  <input type="text" class="form-control" id="ActObjective" name="act_objective" value="">
            </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
          <div class="form-group">
          <label for="FreeText">Free Text
          </label>
          <input type="text" class="form-control" id="FreeText" name="act_free_text" value="">
          </span>
        </div>
      </div>
      <div class="col-md-6">
              <div class="form-group">
                  <label for="ActYear">ACT Year:
                  </label>
                  <select class="form-control" name="act_year" id="ActYear">
                      {% for year in act_year_range reversed %}
                          <option {% if forloop.first %}selected="selected"{% endif %} value="{{ year }}">{{ year }}</option>
                      {% endfor %}
                  </select>
            </div>
      </div>
    </div>
    <button class="btn btn-lg btn-primary center-block" type="submit">Search
    </button>
  </form>
</div>
