<div class="form-wrapper">
  <h1 class="title-divider">
    <span>Citation Search
    </span>
  </h1>
    <form role="form" id="citation_search" method="post" action="" name="citation_search">
    {% csrf_token %}
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Publisher:
            </label>
            <select class="form-control" name="name" id="name">
              <option selected="selected" value="AIR">AIR
              </option>
              <option value="ILR">ILR
              </option>
              <option value="SCC">SCC
              </option>
              <option value="SCR">SCR
              </option>
              <option value="JT">JT
              </option>
              <option value="SCALE">SCALE
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="year">Year:
            </label>
            <select class="form-control" name="year" id="year">
              {% for year in citation_range reversed %}
                  <option {% if forloop.first %}selected="selected"{% endif %} value="{{ year }}">{{ year }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="volume">Volume:
            </label>
            <select class="form-control" name="volume" id="volume">
              {% for no in citation_volume %}
                  <option {% if forloop.first %}selected="selected"{% endif %} value="{{ no }}">{{ no }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
                <label for="suppl">Suppl:
            </label>
            <select class="form-control" name="suppl" id="suppl">
                <option selected="selected" value="No">No</option>
                <option value="Yes">Yes</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="page">Page:
            </label>
            <input type="number" name="page" id="page" class="form-control">
          </div>
        </div>
      </div>
      <button class="btn btn-lg btn-primary center-block" type="submit">Search
      </button>
    </form>
</div>

