{% extends 'base.html' %}
{% block content %}
    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Your One Stop High Court Data Collections
          </h1>
          <hr>
          <p>Start Browsing Over 24 Courts Data in just a click..
          </p>
          <p>With every day Jugdment Updation Facilities..
          </p>
          <a href="{% url 'courts_list' %}" class="btn btn-primary btn-xl page-scroll">Find All Jugements
          </a>
        </div>
      </div>
    </header>
    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">We've got what you need!
            </h2>
            <hr class="light">
            <p class="text-faded">We have auto updated database of Indian Highcourt Which you can filter on the keyward, Judge Name, Date wise filter,
              and also free to download judgement PDF, and easy to use.
            </p>
            <a href="#pricing" class="page-scroll btn btn-default btn-xl sr-button">Get Started!
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="pricing">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Packages
            </h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          {% for package in packages %}
          <div class="col-xs-12 col-md-3">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h3 class="panel-title">{{ package.name }}
                </h3>
              </div>
              <div class="panel-body">
                <div class="the-price">
                  <h1>
                    <i class="fa fa-inr" aria-hidden="true">
                    </i> {{ package.price }}
                  </h1>
                </div>
                <table class="table">
                  <tr>
                    <td>
                      1 Account
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% if not package.num_judgements == 0 %}
                      {{ package.num_judgements }}
                      {% else %}
                      Unlimited
                      {% endif %} Judgement View
                    </td>
                  </tr>
                  <tr class="active">
                    <td>
                      Auto Update Judgements
                    </td>
                  </tr>
                </table>
              </div>
              <div class="panel-footer">
                <a href="http://www.jquery2dotnet.com" class="btn btn-success" role="button">Sign Up
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Let's Get In Touch!
            </h2>
            <hr class="primary">
            <p>Ready to start your new Experience with us? That's great!
              Give us a call or send us an email and we will get back to you as soon as possible!
            </p>
          </div>
          <div class="col-lg-4 text-center">
            <i class="fa fa-envelope-o fa-3x sr-contact">
            </i>
            <p>
              <a href="mailto:your-email@your-domain.com">support@indianjudgement.com
              </a>
            </p>
          </div>
        </div>
      </div>
    </section>
{% endblock %}