                <div class="form-wrapper">
      <h1 class="title-divider">
        <span>Tribunal Search
        </span>
        <small>All fields are (not) mandatory
        </small>
      </h1>
      <form role="form" id="JudgementAsearchForm" method="post" action="/cases/router2" name="JudgementAsearchForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="JudgementCasename">Tibunal Name
              </label>
              <select class="form-control" name="data[Judgement][from]" id="from">
                <option value="">Select Court
                </option>
                {% for data in court_data_list %}
                  <option value="{{ data }}">{{ data|title}}
                </option>
                {% endfor %}
              </select>

              <span class="help-block">Type appellant's or respondent's name or both. "Example: Kesavananda Bharati"
              </span>
            </div>
          </div>
          <div class="col-md-6">
                  <div class="form-group">
                      <label for="from">Tibunal Year:
                      </label>
                      <select class="form-control" name="data[Judgement][from]" id="from">
                        <option selected="" value="">from
                        </option>
                      </select>
                </div>
          </div>
        </div>
        <button class="btn btn-lg btn-primary center-block" type="submit">Search
        </button>
      </form>
    </div>
